        .container {
            width: 940px;
            margin: 0 auto;
        }
        #header {
            position: absolute;
            top: 20px;
            width: 100%;
            left: 0;
            right: 0;
            padding: 20px 0;
        }
        .logo{
            float:left;
        }
        .nav {
            float:right;
            padding-top: 5px;
        }
        .nav li{
            float: left;
            margin-left: 40px;
        }
        .nav li:last-child{
            margin-right: 0;
        }
        .nav a{
            text-transform: uppercase;
            font: 14px Arial, sans-serif;
            color: #fff;
        }
        .nav a:hover{
            color: #f1c736;
        }
        #home{
            height: 700px;
            background: #222 url(../img/homebg.jpg) no-repeat center bottom;
            padding-top: 270px;
            text-align: center;
            color: #fff;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        #home h3{
            margin-bottom: 40px;
            font: 40px/40px Arial, sans-serif;
        }
        #home h1{
            margin-bottom: 50px;
            text-transform: uppercase;
            font: 75px/75px Arial, sans-serif;
        }
        .btn{
            display: inline-block;
            padding: 20px 30px;
            text-transform: uppercase;
            color: #fff;
            font: bold 24px/24px Arial, sans-serif;
            background: #fed136;
            cursor: pointer;
            border: none;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;  
        }
        .btn:hover{
            background: #daae17;
            color: #fff;
        }
        .box{
            padding: 120px 0;
        }
#services{
    text-align: center;
}
h2.title{
    margin-bottom: 10px;
    font: bold 40px/40px Arial, sans-serif;
    color: #222;
    text-transform: uppercase;
}
.descr{
    font-size: 16px;
    margin-bottom: 10px;
    color: #777;
}
h5.title{
    margin-bottom: 10px;
    font: bold 18px/18px Arial, sans-serif;
    color: #222;
}
.services-item{
    float:left;
    width: 33.33%;
    padding: 90px 10px;
    
}
.services-item p{
    font-size: 18px;
    color: #777;
    line-height: 24px;
}
.services-wrap,
.portfolio-wrap,
.about-wrap,
.team-wrap,
#message{
    padding-top: 70px;
}
.commerce{
    background: url(../img/commerce.png) no-repeat center top;
}
.responsive{
    background: url(../img/responsive.png) no-repeat center top;
}
.security{
    background: url(../img/security.png) no-repeat center top;
}
#portfolio{
    text-align: center;
    background: #f7f7f7;
}

.portfolio-item {
    float:left;
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 50px;
    background: #fff;
}
.port-item img {
        max-width: 100%;
    }
.portfolio-item:nth-child(3n){
    margin-right: 0;
}
.port-item{
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-item-footer{
    padding: 25px 20px;
}
.p-item-footer h5.title{
    margin-bottom: 4px;
}
.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2)
.portfolio-item:nth-last-child(3){
    margin-bottom: 0;
}
#about{
    text-align: center;
}
.left{
    float:left;
}
.right{
    float:right;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.about-text{
    width: 35%;
}
.about-text h5{
    line-height: 24px;
}
.about-text p{
    font-size: 16px;
    line-height: 24px;
    color: #777;
}
.about-text h5 span{
    text-transform: uppercase;
}
.about-img{
    width: 30%;
}
.about-img img{
    display: inline-block;
    width: 177px;
    height: 177px;
    border: 7px solid #f1f1f1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.about-img-after:after{
    content: '';
    display: block;
    margin: 0 auto;
    height: 94px;
    width: 3px;
    background: #f1f1f1;
}
#team{
    background: #f9f9f9;
}
.team-item{
    width:33%;
    float:left;
    padding: 0 10px;
}
.team-item img{
    width: 220px;
    height: 220px;
    margin-bottom: 12px;
    border: 7px solid #fff;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    border-radius:50% ;
}
.team-info{
    margin-top: 45px;
}
.cat{
    font: 14px/14px Arial, sans-serif;
    color: #777;
}
.social{
    margin-top: 10px;
}
.social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 3px solid #222;
    margin: 3 3px;
    background: url(../img/social-sprite.png) no-repeat;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    border-radius:50% ;
}
/* twitter */
.social a.ic-tw{background-position: 0 0;}
.social a.ic-tw:hover{
    background-position: 0 -40px;
    border-color: #00aced;
    background-color: #00aced;
}
.social a.ic-tw.black{
    background-position: 0px -40px;
    background-color: #222;
}
.social a.ic-tw.black:hover{
    border-color: #00aced;
    background-color: #00aced;
}
/* facebook */
.social a.ic-fb{background-position: -40px 0;}
.social a.ic-fb:hover{
    background-position: -40px -40px;
    border-color: #3b5998;
    background-color: #3b5998;
}
.social a.ic-fb.black{
    background-position: -40px -40px;
    background-color: #222;
}
.social a.ic-fb.black:hover{
    border-color: #3b5998;
    background-color: #3b5998;
}
/* pinterest */
.social a.ic-pn{background-position: -80px 0;}
.social a.ic-pn:hover{
    background-position: -80px -40px;
    border-color: #cb2028;
    background-color: #cb2028;
}
.social a.ic-pn.black{
    background-position: -80px -40px;
}
.social a.ic-pn.black{
    background-position: -80px -40px;
    background-color: #222;
}
.social a.ic-pn.black:hover{
    background-position: -80 -40px;
    border-color: #cb2028;
    background-color: #cb2028;
}
/* google */
.social a.ic-gl{background-position: -120px 0;}
.social a.ic-gl:hover{
    background-position: -120px -40px;
    border-color: #d95232;
    background-color: #d95232;
}
.social a.ic-gl.black{
    background-position: -120px -40px;
}
.social a.ic-gl.black{
    background-position: -120px -40px;
    background-color: #222;
}
.social a.ic-gl.black:hover{
    border-color: #d95232;
    background-color: #d95232;
}


#brand {
    padding: 60px 0;
    text-align: center; 
}
#brand a{
    display: inline-block;
}
#brand a:last-child{
    margin-right: 0;
}
#brand img{
    vertical-align: middle;
    margin-right: 40px;
}
#contact{
    text-align: center;
    background: #222 url(../img/maps-bg.png) no-repeat right bottom;
        
}
#contact h2.title{
    color: #fff;
}
#message .left, #message .right{
    width: 48%
}
#message input[type="text"], #message textarea{
    background: #fff;
    font: bold 14px/14px Arial, sans-serif;
    color: #222;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 20px;
    box-shadow: none;
    -webkit-border-radius:4px ;
    -moz-border-radius:4px ;
    -ms-border-radius:4px ;
    -o-border-radius:4px ;
    border-radius:4px;
}
#message input[type="text"]{
    height: 50px;
    border: 1px solid #ccc;
}
#message textarea{
    height: 210px;
    border: none;
    resize: none;
}
::-webkit-input-placeholder{
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}
::-moz-placeholder{
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}
:-ms-input-placeholder{
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}
:-moz-placeholder {
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}

#copyright{
    padding: 25px 0;
}
#copyright p{
    font: 14px/14px Arial, sans-serif;
    color: #555;
    margin-top: 13px;
}
#copyright .social{
    margin-top: 0;
    margin-left: 355px;
}
#copyright a{
    font: 14px Arial, sans-serif;
    color: #333;
    text-decoration:underline;
}

#copyright a:hover{
    color: #000;
}

@media(min-width:0px) and (max-width: 480px){
    .container {
        width: 300px;
    }
    .team-item {
        float: none;
        width: 100%;
        padding-top: 20px;
    }
    
    #home h3{
        margin-bottom: 40px;
        font: 20px/40px Arial, sans-serif;
    }
    #home h1{
        margin-bottom: 50px;
        text-transform: uppercase;
        font: 55px/55px Arial, sans-serif;
    }
    .portfolio-item {
        float:none;
        width: 100%;
        margin-right: 3.5%;
        margin-bottom: 50px;
    }
    .services-item {
        float: none;
        width: 100%;
    }
    #copyright .social{
        margin-top: 50px;
        margin-left: 25%;
    }
}
@media(min-width:481px) and (max-width: 580px){
    .container {
        width: 400px;
    }
    .team-item {
        float: none;
        width: 100%;
        padding-top: 20px;
    }
    #home h3{
        margin-bottom: 40px;
        font: 30px/30px Arial, sans-serif;
    }
    #home h1{
        margin-bottom: 50px;
        text-transform: uppercase;
        font: 65px/65px Arial, sans-serif;
    }
    .portfolio-item {
        float:none;
        width: 100%;
        margin-right: 3.5%;
        margin-bottom: 50px;
    }
    #copyright .social{
        margin-top: 50px;
        margin-left: 28%;
    }
}
@media(min-width:581px) and (max-width: 680px){
    .container {
        width: 500px;
    }
    .team-item {
        float: none;
        width: 100%;
        padding-top: 20px;
    }
    #copyright .social{
        margin-top: 50px;
        margin-left: 32%;
    }
    .about-text{
        float: none;
        width: 100%;
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .about-text h5{
        text-align: center;
    }
    
    .about-img {
        float: none;
        width: 100%;
    }
    /*.about-text:nth-child(6) {
        display: none;
    }*/
}
@media(min-width:681px) and (max-width: 780px){
    .container {
        width: 600px;
    }
    .team-item {
        float: none;
        width: 100%;
        padding-top: 20px;
    }
    .about-text.left{
        padding-right: 10px;
    }
    .about-text.right{
        padding-left: 10px;
    }
}
@media(min-width:781px) and (max-width: 880px){
    .container {
        width: 700px;
    }
}
@media(min-width:881px) and (max-width: 980px){
    .container {
        width: 800px;
    }
    .team-item img{
        max-width: 100%;
    }
}
